<!DOCTYPE html>
<html>
<head>
  <title>Line Pay</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <style>
    body {
      background-color: #f8f9fa;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 100vh;
      margin: 0;
      padding-top: 20px;
    }
    .btn {
      width: 200px;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>Line Pay</h1>
  <button class="btn btn-success" id="authenticate">指紋辨識</button>
</body>
</html>