<!DOCTYPE html>
<html>
    <head>
        <title>Line Pay</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />
        <style>
            body {
                background-color: #f8f9fa;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                height: 100vh;
                margin: 0;
                padding-top: 20px;
            }
            .btn {
                width: 200px;
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Line Pay
                </li>
            </ol>
        </nav>
        <div class="container">
            <h2 class="my-4">Line Pay</h2>
            <div class="form-group">
                <label for="account">使用者名稱:</label>
                <p><%= userInfo.name %></p>
            </div>
            <div class="form-group">
                <label for="account">帳號:</label>
                <p><%= userInfo.account %></p>
            </div>
            <div class="form-group">
                <label for="balance">餘額:</label>
                <p><%= userInfo.balance %></p>
            </div>
            <div style="display: flex; justify-content: space-between">
                <button type="button" class="btn btn-outline-primary">
                    儲值
                </button>
                <button type="button" class="btn btn-outline-secondary">
                    提領
                </button>
                <button type="button" class="btn btn-outline-success">
                    轉帳
                </button>
                <button type="button" class="btn btn-outline-info">
                    跨機構轉帳
                </button>
            </div>
        </div>
    </body>
</html>
