<!DOCTYPE html>
<html>
<head>
    <title>JKO Pay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
          background-color: #f8f9fa;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          height: 100vh;
          margin: 0;
          padding-top: 20px;
        }
        .btn {
          width: 200px;
          margin-top: 20px;
        }
      </style>
</head>
<body>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">首頁</a></li>
          <li class="breadcrumb-item active" aria-current="page">JKO Pay</li>
      </ol>
    </nav>
    <div class="container">
        <h2 class="my-4">JKO Pay</h2>
        <div class="form-group">
            <label for="account">帳號:</label>
            <input type="text" class="form-control" id="account">
        </div>
        <div class="form-group">
            <label for="balance">餘額:</label>
            <input type="text" class="form-control" id="balance">
        </div>
        <a href="/jko_pay/transfer" class="btn btn-primary mb-2">跨機構轉帳</a>
    </div>
</body>
</html>
