<!DOCTYPE html>
<html>
<head>
  <title>電子支付跨機構共用平台</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 100vh;
      margin: 0;
      padding-top: 20px;
    }
    .btn {
      width: 200px;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">首頁</a></li>
      <li class="breadcrumb-item active" aria-current="page">電子支付跨機構共用平台</li>
    </ol>
  </nav>
  <a href="/platform/code" class="btn btn-primary mb-2">查詢機構代號</a>
</body>
</html>